/*sections------------------------------------------------------------------- */
img { max-width: 100%; }

iframe	{ width: 100%;}

label {display: block;}
input {display: block;}

textarea{max-width:100%;
    border: 3px groove #FF00FF;
    color : #00ff00;
    background-color: #000
}

fieldset{border-radius : 10px;
    border: 2px solid #ffffff;
}

form{
    width: 80%;
	background-color: #000;
	padding: .7em;
	border: 3px groove #FF00FF;
	margin: 1.2em;}

input[type="submit"] {
	color: #DC143C;	
	background-color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	line-height: 1.25;
	text-align: center;
	width: auto;
	border: 1px solid #333;
	border-radius: 3px;
	transition: all .5s ease-in-out;
}
input[type="submit"]:hover {
	color:#DC143C;
	background-color:#fff;
	border-color:#adadad}

input[type="submit"]:focus {
	color:#DC143C;
	background-color:#fff;
	border-color:#adadad}



.column {
  float: left;
  width: 40%;
  padding: 20px;
}

/* Clear floats after image containers */
/* This is code used from https://www.w3schools.com/howto/default.asp */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/* This is code used from https://www.w3schools.com/howto/default.asp */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
}

/* This is code used from https://www.w3schools.com/howto/default.asp */
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* This is code used from https://www.w3schools.com/howto/default.asp */
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}


/* This is code used from https://www.w3schools.com/howto/default.asp */
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

table, th, td {
  border: 1px solid #ffffff;
}


body {

background-color: #343434;

font-family: Verdana, Geneva, sans-serif;

color: #00ff00;

font-size: 16px;

line-height: 20px;

}

#wrapper {

max-width: 1200px;

margin-right: auto;

margin-left: auto;

background-color: #000000 ;

padding-right: 10px;

padding-left: 10px;

border: 4px solid #ffffff;

}

main {

}

article {
    
border: 3px solid #FF00FB;

}

aside {

}

footer {

margin-top: 4px;

margin-bottom: 4px;

}

header {

margin-top: 4px;
color: #ffffff;

margin-bottom: 4px;

}

.post {

margin-top: 2px;

margin-bottom: 2px;

background-color: #2F2F2F;

}

nav {

}

.menu {

margin-top: 10px;

margin-bottom: 4px;

}

/*headings------------------------------------------------------------------- */

h1 {

font-family: Georgia, "Times New Roman", Times, serif;

color: #ffffff;

font-size: 36px;

line-height: 50px;

}

h2 {

font-family: Georgia, "Times New Roman", Times, serif;

color: #ffffff;

font-size: 36px;

line-height: 50px;

}

h3 {

font-family: Georgia, "Times New Roman", Times, serif;

color: #FF00FB;

font-size: 36px;

line-height: 50px;

}

h4 {

font-family: Georgia, "Times New Roman", Times, serif;

color: #ffffff;

font-size: 36px;

line-height: 50px;

}

/*grouping------------------------------------------------------------------- */

p {
     font-size:1.0rem;
 line-height: 1.5;
 margin: 10px 0 10px 0;

}

blockquote {
    color: #00FFF7;

}

/*lists---------------------------------------------------------------------- */

ul {

list-style-type: disc;

line-height: 16px;

}

li {

margin-left: 20px;

line-height: 20px;

}

ol {

list-style-type: decimal;

line-height: 16px;

}

dl {

line-height: 20px;

}

dt {

font-weight: bolder;

}

dd {

text-indent: 10px;

}

/*tables-----------------------------------------------------------------------*/

caption {

color: #F14A29;

margin-bottom: 5px;

font-weight: bold;

text-transform: uppercase;

}

small {

font-size: 14px;

line-height: 15px;

}

/*text------------------------------------------------------------------------ */

em {

}

strong {

}

small {

}

cite {

}

time {

}

/*image----------------------------------------------------------------------- */

figure {

}

figcaption {

}

img {

margin: 2px;

border: 3px solid #ff0000;

}

/*anchors--------------------------------------------------------------------- */
a {

}


a:link, a:visited, a:active {
color: #FFFF00;
bottom: 1px;

}

a:hover {
color: #FFFF00;
}

.menu a:hover {background-color: #515A5A;
color: #FFF;
}





/*float/clear classes */

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */

float: right;

margin-left: 8px;

}


.fltlt {
 float: left;
 margin-right: 8px;
}

 .clear {
 clear: both;
}






a:active {

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  
  grid-gap: 100px;
  padding: 10px;
  
  background-color: #343434 ;
  text-align: left;
  padding: 20px 0;
  font-size: 15px;
}

.item1 {
  grid-row: 1 / 4;
  grid-column: 1 / span 2;
}

.item2 {
  grid-row: 1 / 4;
  grid-column: 3 / span 2;
}


.item3 {
  grid-row: 1 / 4;
  grid-column: 5 / span 2;
}

.item4 {
  grid-row: 5 / 4;
  grid-column: 1 / span 2;
}

.item5 {
  grid-row: 5 / 4;
  grid-column: 3 / span 2;
}

.item6 {
  grid-row: 5 / 4;
  grid-column: 5 / span 2;
}





.dropbtn {
  background-color: #000000;
  color:#F5FC00 ;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  right:0;
}

.dropdown {
  position: static;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 0;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:#F5FC00 ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #343434;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #343434;
}
